# Created by .ignore support plugin (hsz.mobi)
.idea/*
Procfile
Procfile.txt
src/main/resources/
src/test/
target/Blog2-1.0-SNAPSHOT.war
target/Blog2-1.0-SNAPSHOT/META-INF/
target/Blog2-1.0-SNAPSHOT/WEB-INF/classes/blog2Script.sql
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/JavaEWAH-0.7.9.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/commons-compress-1.12.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/heroku-deploy-1.1.4.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/heroku-jdbc-0.1.1.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/jackson-annotations-2.3.0.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/jackson-core-2.3.0.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/jackson-databind-2.3.0.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/jetty-http-9.3.6.v20151106.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/jetty-io-9.3.6.v20151106.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/jetty-security-9.3.6.v20151106.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/jetty-server-9.3.6.v20151106.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/jetty-servlet-9.3.6.v20151106.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/jetty-util-9.3.6.v20151106.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/jetty-webapp-9.3.6.v20151106.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/jetty-xml-9.3.6.v20151106.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/jsch-0.1.53.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/org.eclipse.jgit-4.5.0.201609210915-r.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/slf4j-api-1.7.13.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/spark-core-2.5.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/spring-expression-4.1.7.RELEASE.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/spring-jdbc-4.1.7.RELEASE.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/spring-orm-4.1.7.RELEASE.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/spring-security-acl-4.0.0.RELEASE.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/spring-security-config-4.0.0.RELEASE.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/spring-security-core-4.0.0.RELEASE.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/spring-security-taglibs-4.0.0.RELEASE.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/spring-security-web-4.0.0.RELEASE.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/spring-tx-4.1.7.RELEASE.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/spring-web-4.1.7.RELEASE.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/spring-webmvc-4.1.7.RELEASE.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/tiles-api-3.0.5.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/tiles-autotag-core-runtime-1.1.0.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/tiles-core-3.0.5.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/tiles-jsp-3.0.5.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/tiles-request-api-1.0.6.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/tiles-request-jsp-1.0.6.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/tiles-request-servlet-1.0.6.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/tiles-servlet-3.0.5.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/tiles-template-3.0.5.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/websocket-api-9.3.6.v20151106.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/websocket-client-9.3.6.v20151106.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/websocket-common-9.3.6.v20151106.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/websocket-server-9.3.6.v20151106.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/websocket-servlet-9.3.6.v20151106.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/lib/xml-apis-1.0.b2.jar
target/Blog2-1.0-SNAPSHOT/WEB-INF/message.properties
target/Blog2-1.0-SNAPSHOT/WEB-INF/web.xml
target/classes/
target/dependency/
Would r
emove target/generated-sources/
target/maven-archiver/
target/maven-status/
